SECRET_KEY = 'secretkey'
JWT_SECRET_KEY = 'jwtsecretkey'
WTF_CSRF_SECRET_KEY = 'wtfsecretkey'

DEV_DATABASE_URI = 'sqlite:///app.db'
PROD_DATABASE_URI = 'mysql+pymysql://username:password@localhost/your_db_name'
TEST_DATABASE_URI = 'sqlite:///test.db'